In [1]:
import pandas as pd
import numpy as np

import sklearn 
from sklearn.preprocessing import PolynomialFeatures

In [6]:
dataset = pd.read_csv('full all label and feature.csv')
dataset.columns

Index(['Unnamed: 0', 'Date', 'SNP500_High_x', 'SNP500_Low_x', 'Bitcoin_High',
       'Bitcoin_Low', 'Oil_High', 'Oil_Low', 'Gold_High', 'Gold_Low',
       'SNP500_High_y', 'SNP500_Low_y', 'Interest'],
      dtype='object')

In [7]:
dataset = dataset.drop(columns=['Unnamed: 0', 'Date'])

In [8]:
dataset

,Date,SNP500_High_x,SNP500_Low_x,Bitcoin_High,Bitcoin_Low,Oil_High,Oil_Low,Gold_High,Gold_Low,SNP500_High_y,SNP500_Low_y,Interest
0,11/28/2022,76.17,73.84,"16,481.4","16,060.8",76.17,73.84,"1,753.85","1,745.80",76.17,73.84,1.41
1,11/27/2022,76.35,75.84,"16,595.4","16,414.6",76.35,75.84,"1,770.60","1,750.10",76.35,75.84,1.41
2,11/25/2022,79.89,76.23,"16,686.3","16,387.9",79.89,76.23,"1,761.20","1,745.90",79.89,76.23,1.41
3,11/24/2022,78.19,76.92,"16,611.8","16,360.9",78.19,76.92,"1,758.95","1,752.55",78.19,76.92,1.41
4,11/23/2022,81.95,76.83,"16,785.6","16,472.0",81.95,76.83,"1,754.90","1,719.00",81.95,76.83,1.41
...,...,...,...,...,...,...,...,...,...,...,...,...
2040,01/08/2015,49.65,47.73,"1,260.2","1,119.0",49.65,47.73,"1,216.40","1,206.90",49.65,47.73,0.13
2041,01/07/2015,49.31,46.83,"1,256.9","1,236.4",49.31,46.83,"1,217.50","1,210.00",49.31,46.83,0.13
2042,01/06/2015,50.37,47.55,"1,255.5","1,218.4",50.37,47.55,"1,222.00","1,206.00",50.37,47.55,0.13
2043,01/05/2015,52.73,49.68,"1,245.6","1,205.6",52.73,49.68,"1,205.20","1,189.10",52.73,49.68,0.13
2044,01/02/2015,55.11,52.03,"1,235.5","1,160.9",55.11,52.03,"1,193.30","1,171.60",55.11,52.03,0.13

In [ ]:
poly = PolynomialFeatures(degree=2)
poly.fit_transform(X)